.client-message {
  text-align: left;
  background-color: #e5e5ea;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
  align-self: flex-start;
  max-width: 80%;
  display: flex;
}

.admin-message {
  text-align: right;
  background-color: #007aff;
  color: white;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
  align-self: flex-end;
  max-width: 80%;
  margin-left: auto;
  display: flex;
}

.client-message .MuiListItemText-primary {
  color: black;
}

.admin-message .MuiListItemText-primary {
  color: white;
}

.dialog-content {
  max-height: 60vh;
  overflow-y: auto;
}

.message-modal {
  min-width: 500px;
  max-width: 700px;
  min-height: 400px;
  max-height: 80vh;
}
