.quote-manage-page-container {
  display: grid;
  max-width: 100%;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  grid-column: 1 / span 12;
  grid-template-rows: auto;
}

.quote-manage-title {
  margin-bottom: 20px;
}

.MuiTable-root {
  width: 100%;
}

.MuiPaper-root {
  box-shadow: none;
}

.MuiTableCell-root {
  padding: 8px;
}
