.App {
  text-align: center;
  text-rendering: optimizeSpeed;
  display: flex;
  grid-template-columns: repeat(12, 1fr);
  background-color: #f3f5e7;
  min-height: 100vh;
  flex-direction: column;
}

.nav-section {
  grid-column: 1 / span 2;
}
