.App {
  text-align: center;
  text-rendering: optimizeSpeed;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: auto 1fr auto;
  background-color: #121212;
  color: #e0e0e0;
  min-height: 100vh;
}

.header {
  grid-column: 1 / -1;
  background-color: #1e1e2f;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-title {
  margin-left: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.sidebar {
  grid-column: 1;
  background-color: #1e1e2f;
  padding: 20px;
  color: #ffffff;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-content .section {
  padding: 10px;
  background-color: #28293d;
  border-radius: 5px;
}

.content {
  grid-column: 2 / 3;
  padding: 20px;
}

.footer {
  grid-column: 1 / -1;
  background-color: #1e1e2f;
  color: #ffffff;
  text-align: center;
  padding: 10px;
}
